.leader-board {
  width: 70%;
  height: 80%;
}

.board-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.board-caption {
  font-weight: 600;
  font-size: 24px;
  padding: 0 10px;
  width: 100%;
  display: grid;
  grid-template-columns: 0.3fr 1.5fr 1fr 1.5fr;
  &-position {
    text-align: center;
  }
  &-time {
    text-align: right;
  }
}

.board-table {
  font-weight: 600;
  width: 100%;
  padding: 0 10px;
  display: grid;
  grid-template-columns: 0.3fr 1.5fr 1fr 1.5fr;
  grid-auto-rows: 1fr;
  overflow-y: scroll;
  align-items: center;
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #c4c4c4;
  }
  &::-webkit-scrollbar {
    width: 4px;
    background-color: #c4c4c4;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background: linear-gradient(189.7deg, #F95488 5.4%, #DE2E6B 87.31%);
  }
  &-item {
    height: 100%;
    line-height: 42px;
    border-bottom: 1px solid #BDBDBD;
    &.active {
      background-color: #DE2E6B;
    }
  }
  &-position {
    text-align: center;
  }
  &-time {
    text-align: right;
  }
  &-item {
    padding: 0 5px;
  }
}
