ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

ul {
  list-style: none;
}

button {
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  margin: 0;
  &:focus {
      outline: 0;
  }
}
