// Font
$mainFont: "Montserrat", sans-serif;

// Size
$mainFontColor: #505050;
$startFontColor: #0a3d5a;
$menuActiveColor: #003553;
$accentColor: #ff0a7f;
$accentBtnColor: #ff3d99;
$bgLightColor: #fbfbfb;
$lightColor: #f4f4f4;
$lightFontColor: #ffffff;
$ibbColor: #00eb6b;

$mainFontSize: 16px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;

$desktopWidth: 1280px;
$smDesktopWidth: 1024px;
$tableWidth: 768px;
$smTableWidth: 640px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

// Main color

$primary-color: #ace0f9;
$success-color: #26de81;
$danger-color: #fc5c65;
$warning-color: #fed330;

$purple-color: #8854d0;

// Neutral Color
$neutral-primary: #303133;
$neutral-regular: #606266;
$neutral-secondary: #909399;
$neutral-placeholder: #c0c4cc;

// Border Color
$border-base: #dcdfe6;
$border-light: #e4e7ed;
$border-lighter: #ebeef5;
$border-lightex: #f2f6fc;

$green: #3dbf87;
$red: #fc3164;
$switch-animation: color 0.5s, background 1.5s, transform 1.5s, opacity 1s ease-in-out;
$default-transition: all 0.5s ease-in-out;
$short-transition: all 0.25s ease-in-out;
