.footer {
  background-image: url(../../assets/images/landing/bg-footer.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  color: $lightColor;
  padding-bottom: 17px;
}

.footer__wrap {
  box-sizing: border-box;
  @include screenSize;
}

.footer__love {
  width: 70px;
  margin-right: 40px;
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__wrap--top {
  padding-top: 38px;
  position: relative;
  margin-bottom: 52px;
  @media (max-width: 1920px) {
    margin-bottom: 26px;
  }
}

.footer__rs {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  @media (max-width: 640px) {
    left: 100%;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
}
.footer__rs::after {
  display: block;
  position: absolute;
  content: url(../../assets/images/landing/rs_school.svg);
  width: 65px;
  height: 24px;
  top: -11px;
  left: -33px;

  @media (max-width: 640px) {
    left: -85px;
  }
}

.footer__copyright {
  font-size: 10px;

  @media (max-width: 1200px) {
    width: 459px;
  }

  @media (max-width: 640px) {
    width: 150px;
  }
}

.footer__design {
  font-size: 12px;
  line-height: 130%;
  padding-right: 30px;
  position: relative;
}

.footer__design::after {
  position: absolute;
  display: block;
  content: url(../../images/landing/design.svg);
  top: -5px;
  right: 0;
  width: 24px;
}
