.menu {
  width: 287px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 468px) {
    position: relative;
    flex-direction: column;
    height: 123px;
    align-items: center;

    &::after {
      position: absolute;
      content: '';
      width: 180px;
      height: 1px;
      background-color: $accentColor;
      bottom: -30px;
      left: calc(50% - 90px);
    }
  }
}

.menu--footer {
  width: 266px;
  margin-right: auto;

  @media (max-width: 1000px) {
    display: none;
  }
}

.menu__item {
  cursor: pointer;
  color: inherit;
}

// .menu__item--light {
//   color: $lightFontColor;

// }

.menu__item--active {
  font-size: 16px;
  font-weight: 600;
  opacity: 0.3;
}

.menu__item:hover {
  color: $accentColor;
  transition: all 0.25 ease;
}
