@import "./components/leaderBoard.scss";
@import "./components/popup.scss";
@import "./components/range.scss";

.game-menu {
  user-select: none;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  color: #000000;
  &-container {
    width: 1280px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
  }
  &-menu {
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &-range {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  &-back {
    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-item {
    margin: 10px 0;
    &::before,
    &::after {
      content: "\2022";
      color: #e5e5e5e5;
      margin: 0 0.1em;
    }
    &-back {
      margin: 30px auto;
      color: #979797;
      font-size: 24px;
    }
    &-active {
      color: #d22d61;
      cursor: pointer;
      &::before,
      &::after {
        color: #d22d61;
      }
    }
  }
}

.game-input {
  user-select: none;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  margin: 10px 0;
  color: #000000;
  &-container {
    display: flex;
  }
  &-label {
    margin: 0 10px;
    &.active {
      color: #d22d61;
    }
  }
  &-range {
    width: 50px;
  }
}

.game-score {
  margin: 10px 20px;
  user-select: none;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  color: #000000;
  display: grid;
  grid-template-columns: 36px 1fr;
  grid-auto-rows: 36px;
  grid-gap: 15px;
  grid-template-areas:
    "timeIcon time"
    "scoreIcon score";
  &-time {
    grid-area: time;
    &-icon {
      grid-area: timeIcon;
      background-image: url('../icons/time.svg');
      background-size: cover;
    }
  }
  &-score {
    grid-area: score;
    &-icon {
      grid-area: scoreIcon;
      background-image: url('../icons/score.svg');
      background-size: cover;
    }
  }
}

