.game-menu {
    user-select: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    color: #000000;
}

.game-menu-item {
    text-align: center;
    margin: 10px auto;
    &::before, &::after {
        content: '\00B7';
        color: #e5e5e5e5;
        margin: 0 10px;
    }
    &-active {
        color: #d22d61;
        cursor: pointer;
        &::before, &::after {
            color: #d22d61;
        }
    }
    &-back {
        margin: 30px auto;
        color: #979797;
        font-size: 20px;
    }
}
