@import "utils/_reset";
@import "utils/_normalize";
@import "utils/vars";
@import "utils/mixins";
@import "blocks/header";
@import "blocks/menu";
@import "blocks/lang";
@import "blocks/start";
@import "blocks/promo";
@import "blocks/description";
@import "blocks/control";
@import "blocks/play";
@import "blocks/footer";
@import "blocks/about-start";
@import "blocks/about";
@import "blocks/developers";
@import "./game.scss";

html {
    font-family: $mainFont;
    font-size: $mainFontSize;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    min-height: 320px;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.body__noscroll{
    overflow-y: hidden;
}

img {
    width: 100%;
}

.game {
    height: calc(100vh - 45px);
    padding: 10px;
    width: 100%;
}

canvas {
    width: 100%;
    height: auto;
}

.game-container {
    margin: 0 auto;
    object-fit: contain;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    color: inherit;
}

.hidden {
    display: none;
}
