@import "utils/_reset";
@import "utils/_normalize";
@import "utils/vars";

html {
	font-family: $mainFont;
	font-size: $mainFontSize;
	overflow: hidden;
}

body {
    min-width: 320px;
	min-height: 320px;
    padding: 0;
    margin: 0;
	color: $mainFontColor;
    background: linear-gradient(to top, #ece9e6, $default-color);
}

img {
    width: 100%;
}

a {
	color: $mainFontColor;
}

.text-normal {
    color: $mainFontColor;
}

.text-inverted {
    color: $default-color;
}

.text-hidden {
    color: transparent;
}

.interactive {
	&:hover {
        transform: scale(1.05);
    }
    &:active {
        transform: scale(1);
    }
}

ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
  }
  
  ul {
    list-style: none;
  }

.game-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
