@import "utils/_reset";
@import "utils/_normalize";
@import "utils/vars";

html {
	font-family: $mainFont;
	font-size: $mainFontSize;
	overflow: hidden;
}

body {
	min-width: 320px;
    min-height: 320px;
    padding: 0;
    margin: 0;
	color: $mainFontColor;
    background: linear-gradient(to top, #ece9e6, $default-color);
}

img {
    width: 100%;
}

canvas {
    width: 100%;
    height: auto;
}

.game-container {
    margin: 0 auto;
}
